<tr class="<%= is_read_class(message) %> message"
  data-message-id="<%= message.id %>">
  <td class="inbox-small-cells">
    <%= check_box_tag "message_checkboxes[]", message.id %>
  </td>
  <td class="inbox-small-cells">
    <%= is_read_icon(message) %>
    <%= is_important_icon(message) %>
  </td>
  <td>
  <td><%= message.author.name %></td>
  <td>
    <%= link_to message do %>
      <%= message.title %>
    <% end %>
  </td>
  <td class="view-message text-right">
    <%= message.created_at.strftime("%d/%m/%Y at %I:%M %p") %></td>
  <td>
    <%= link_to message, method: :delete,
      class: "btn btn-danger btn-xs",
      title: t('message.view.message_line.archive_title'),
      data: { confirm: t('message.view.message_line.archive_confirm') } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>

    <%= link_to message_make_important_path(message), remote: true,
      class: "btn btn-warning btn-xs",
      title: t('message.view.message_line.important_title') do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
  </td>
</tr>

