<p>
  <strong><%= t('message.view.show.label.title') %></strong>
  <%= @message.title %>
</p>

<p>
  <strong><%= t('message.view.show.label.author') %></strong>
  <%= @message.author.name %>
</p>

<p>
  <strong><%= t('message.view.show.label.destinatary') %></strong>
  <%= @message.destinatary.name %>
</p>

<p>
  <strong><%= t('message.view.show.label.content') %></strong>
  <%= @message.content %>
</p>
