<h2 class="devise-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name,
  url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, class: "minibox_label" %><br>
    <%= f.text_field :name, class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :nickname, class: "minibox_label" %><br>
    <%= f.text_field :nickname, class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "minibox_label" %><br>
    <%= f.email_field :email, autofocus: true,
      autocomplete: "email", class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "minibox_label" %> <br>
    <i>
      (leave blank if you don't want to change it) <br>
      <%= @minimum_password_length %> characters minimum
    </i><br>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "minibox_label" %><br>
    <%= f.password_field :password_confirmation,
      autocomplete: "off", class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "minibox_label" %><br>
    <i>(we need your current password to confirm your changes)</i><br>
    <%= f.password_field :current_password, autocomplete: "off",
      class: "minibox_input" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "flat-button base-purple" %>
  </div>
<% end %>

<br>

<%= button_to "Return to Inbox", messages_path,
  class: "flat-button return-inbox", method: :get %>

<br>

<%= button_to "Cancel my account", registration_path(resource_name),
  data: { confirm: "Are you totally sure you want delete your account forever?" },
    method: :delete, class: "flat-button cancel-account" %>
