<h2 class="devise-title">
  <%= t('devise.registrations.edit.title') %>
  <%= resource_name.to_s.humanize %>
</h2>

<%= form_for(resource, as: resource_name,
  url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, class: "minibox_label" %><br>
    <%= f.text_field :name, class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :nickname, class: "minibox_label" %><br>
    <%= f.text_field :nickname, class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "minibox_label" %><br>
    <%= f.email_field :email, autofocus: true,
      autocomplete: "email", class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "minibox_label" %><br>
    <i>
      (<%= t('devise.registrations.edit.text.leave_blank') %>)<br>
      <%= @minimum_password_length %>
      <%= t('devise.registrations.edit.text.char_minimun') %>
    </i><br>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "minibox_label" %><br>
    <%= f.password_field :password_confirmation,
      autocomplete: "off", class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "minibox_label" %><br>
    <i>(<%= t('devise.registrations.edit.text.password_need') %>)</i><br>
    <%= f.password_field :current_password, autocomplete: "off",
      class: "minibox_input" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.edit.button.submit'),
      class: "flat-button base-purple" %>
  </div>
<% end %>

<br>

<%= button_to t('devise.registrations.edit.button.return_inbox'), messages_path,
  class: "flat-button return-inbox", method: :get %>

<br>

<%= button_to t('devise.registrations.edit.button.cancel_account'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.text.pop_confirm') },
    method: :delete, class: "flat-button cancel-account" %>
