<h2 class="devise-title">
  <%= t('devise.registrations.new.title') %>
</h2>

<%= form_for(resource, as: resource_name,
  url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, class: "minibox_label" %><br>
    <%= f.text_field :name, class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :nickname, class: "minibox_label" %><br>
    <%= f.text_field :nickname, class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "minibox_label" %><br>
    <%= f.email_field :email, autofocus: true,
      autocomplete: "email", class: "minibox_input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "minibox_label" %><br>
    <%= f.password_field :password, autocomplete: "off",
      class: "minibox_input" %><br>
    <i>
      <%= @minimum_password_length %>
      <%= t('devise.registrations.new.text.char_minimun') %>
    </i>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "minibox_label" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off",
      class: "minibox_input" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit t('devise.registrations.new.button'),
      class: "flat-button return-inbox" %>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>
